.notion-gallery-view div[style*="display: grid;"] > div:last-child{
    display: none!important;
}

/* Dracula Update */
.notion-dark-theme .notion-token-remove-button[role*='button'][tabindex*='0']:hover,
.notion-dark-theme .notion-record-icon,
.notion-dark-theme div[style*="background: rgb(25, 25, 25);"] {
  background: transparent !important;
}

.notion-dark-theme div[style*="box-shadow: rgb(25, 25, 25) -3px 0px 0px;"]{
  box-shadow: none !important;
}